<div class="container-fluid">
    <h1 class="h1 text-center p-3 obojeno">Held Classes</h1>
    <div class="row">
        <%for(let i = 0; i < classes.length; i++){var vrijeme;%>
        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div class="card my-shadow mb-3">
                <%if(classes[i].slika === null){%>
                <a href="<%='/admin/previus_classes/' + classes[i].kod + '/' + code%>"><img class="card-img-top" src="/Slike/default_class.png" alt="Card image cap" height="300px" width="auto"></a>
                <%} else {%>
                <a href="<%='/admin/previus_classes/' + classes[i].kod + '/' + code%>"><img class="card-img-top" src="<%=classes[i].slika%>" alt="Card image cap" height="300px" width="auto"></a>
                <%}%>
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Name: </strong><%=classes[i].ime_predavanja%></h2>
                    <h2 class="card-title text-center"><strong>Teacher: </strong><%=classes[i].first_name%></h2>
                    <h2 class="card-title text-center"><strong>Code: </strong><%=classes[i].kod%></h2>
                    <p class="card-text text-center"><strong>About: </strong><%=classes[i].about%></p>
                    <p class="card-text text-center bigger"><strong>Date: </strong><%=classes[i].datum.toLocaleDateString()%></p>
                    <p class="card-text text-center bigger"><strong>Rating: </strong><%=classes[i].prosjecna_ocjena%></p>
                    <p class="card-text text-center bigger"><strong>Number Questions: </strong><%=classes[i].broj_pitanja%></p>
                    <p class="card-text text-center bigger"><strong>Number of Answered Questions: </strong><%=classes[i].broj_odgovorenih_pitanja%></p>
                </div>
                <div class="text-center p-2">
                    <a href="<%="/admin/classes/obrisi_odslusano_predavanje/" + classes[i].kod + "/" + code%>"  class="btn"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</div>

<%let array = [];
for(let i = 0; i < classes.length; i++)
    array.push(classes[i].first_name);
array = new Set(array);%>

<%for(let i = 0; i < classes.length; i++){%>
<div class="modal fade edit_class"  id="<%="edit_class" + i%>" tabindex="-1" aria-labelledby="title" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data"  id="register">
                    <legend class="greska" id="<%="postoji_ime2" + i%>">You already teach a class with this name</legend>
                    <legend class="greska" id="<%="postoji_teacher" + i%>">There doesn't exist a specified teacher</legend>

                    <div class="mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="form-outline flex-fill mb-0">
                                <label for="<%="teachers" + i%>" class="form-label">Teacher</label>
                                <select id="<%="edit_teacher_name" + i%>" class="form-select" value="<%=classes[i].first_name%>">
                                    <%for(element of array.values()){
                                        if(element === classes[i].first_name){%>
                                            <option value="<%=element%>" selected><%=element%></option>
                                        <%}else{%>
                                            <option value="<%=element%>"><%=element%></option>
                                        <%}%>
                                    <%}%>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="form-outline flex-fill mb-0">
                                <label for="<%="edit_name" + i%>" class="form-label">Name</label>
                                <input type="text" id="<%="edit_name" + i%>" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <p class="greska text-center" id="<%="no_name" + i%>">You did not specify the name of the class</p>
                    </div>

                    <div class="mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="form-outline flex-fill mb-0">
                                <label for="<%="edit_kod" + i%>" class="form-label">Code</label>
                                <input type="text" id="<%="edit_kod" + i%>" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <p class="greska text-center" id="<%="no_kod" + i%>">A Class with this code already exists</p>
                        <p class="greska text-center" id="<%="no_kod" + i%>">Code cannot be empty</p>
                    </div>

                    <div class="mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="form-outline flex-fill mb-0">
                                <textarea  id="<%="edit_about" + i%>" name="about" class="form-control" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="form-outline flex-fill mb-0">
                                <label for="<%="datum" + i%>" class="form-label">Date of class:</label>
                                <input type="date" id="<%="edit_datum" + i%>" name="datum" class="form-control">
                            </div>
                        </div>
                        <p class="greska text-center" id="<%="no_datum" + i%>">You did not select Date and time of class</p>
                    </div>

                    <div class="mb-4">
                        <div class="d-flex flex-row align-items-center">
                            <div class="form-outline flex-fill mb-0">
                                <label for="slika" class="form-label">Change class image</label>
                                <input class="form-control" type="file" name="slika" id="<%="edit_slika" + i%>">
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%}%>

<script src="/JavaSkript/administration_previus.js"></script>